/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* Tablet & Mobile */
@media (max-width: 991.98px) {
  /* Ẩnn navbar trên tablet và mobile */
  .navbar {
    display: none;
  }
  /* Chuyển logo ra giữa */
  .header-top {
    position: relative;
  }
  .logo__header {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* Căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* Overlay  */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    /* inset dùng giống padding */
    inset: 0;
    z-index: 1;
    /* ở điều kiện bth ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* Kt nếu menu-checkbox được checked thì hiện (overlay/lớp phủ),
    Kt xem menu-checkbox có đc checked k, nếu có thì tác động vào menu-overlay  */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* Code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* Kt nếu checkbox được checked thì hiện menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* Menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }
  /* Khối Hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }
  /* để thay đổi thứ tự ta dùng order */
  .hero__content {
    order: 2;
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__media {
    order: 1;
  }
  .hero__row {
    justify-content: center;
  }
  /* Khối Service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }
  .service__item {
    width: 90%;
    text-align: start;
  }
  .service__list {
    text-align: center;
  }
  /* khối Work */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* Khối About */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__media {
    width: 100%;
  }
  /* ẩn ảnh Small */
  .about__img--small {
    display: none;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }
  /* Khối Team */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* Khối Install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 90%;
    margin: 0 auto;
  }
  /* Khối Blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__list {
    order: 1;
  }
  .blog__heading {
    max-width: 90%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Khối Footer */
  .footer-hidden-tablet {
    display: none;
  }
  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  .show-on-mobile {
    display: none;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }
  .menu-header__icon {
    top: 16px;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
    padding: 40px;
  }
  /* tự thêm vào */
  .logo__menu .shine-smile {
    top: -22px;
    left: 15px;
  }
  .navbar__item {
    list-style-type: none;
  }
  /* thêm vạch kẻ ngăn cta group */
  .separate {
    border-top: 1.5px solid #8c8b8b;
    margin-top: 10px;
  }
  /* Khối Hero */
  .hero__img-small {
    display: none;
  }
  .hero__img-large {
    width: 100%;
    height: auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__desc {
    font-size: 1.3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }
  /* Khối Service */
  .service {
    padding: 70px 0;
  }
  .service__desc {
    width: 93%;
  }
  .service__img {
    /* height:auto; để tự căn chỉnh */
    height: auto;
  }
  /* Khối Work */
  .work__desc {
    width: 100%;
  }
  .work-item {
    padding: 20px;
  }
  /* Khối About */
  .about {
    margin-top: 20px;
    padding: 40px 0;
  }
  .section-heading {
    font-size: 3rem;
  }
  /* Khối Team */
  .team__list {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Khối instal */
  .install__inner {
    margin: 40px 0;
    padding: 0 8px;
  }
  .install__content {
    max-width: 250px;
  }
  .install__desc {
    font-size: 1.3rem;
  }
  /* Khối Blog */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .blog__heading {
    text-align: center;
  }
  /* Khối Appointment */
  .appointment__inner {
    padding: 30px 5px;
  }
  /* Khối Footer */
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
}
/* tạm ẩn những phần k liên quan */
